/*! Personal css */

.code {
  padding: 5px 10px 5px 10px;
  color: #85FF00;
  background-color: #002B36;
  border-radius: 5px;
}

code {
  padding: 2px;
  color: #F64747;
  background-color: #EEEEEE;
  border-radius: 2px;
}