/*! Personal css */

// All Scss goes here.

$dark-blue: #373479;
$light-blue: #5ac6d0;
$cursive-font-stack: 'Qwigley', cursive;
$body-font-stack: 'Libre Baskerville', serif;
$header-font-stack: 'Alegreya SC', serif;




/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


section {
  padding: 30px;
}

ul {
  list-style: none;
  li{
    display: inline-block;
  }
}

input, label{
  display: inline-block;
}

a{
  text-decoration: none;
  color:#616161;
}
body{
  font-size: 16px;
}

.mobile-only{
  display: block;
  @media (min-width: 550px) {
    display: none;
  }
}

.desktop-only{
  display: none;
  @media (min-width: 550px) {
    display: block;
  }
}




// nav

nav{
  border-bottom: none;
  position: fixed;
  @media (min-width: 550px) {
    border-bottom: solid 1px #e9e9e9;
    position: relative;
  }
  // display none and full screen ul li
}

// hero
.hero{
  background-image: url('/img/hero-constellation.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @media (min-width: 550px) {
    background-image: url('/img/hero-constellation-desktop.png');
    background-size: contain;
    min-height: 100vh;
    background-position: top right;
  }

  .landing-blurb{
    position: relative;
    h2{
      font-family: $cursive-font-stack;
      font-size: 5em;
      color: $dark-blue;
      margin: 0;
    }
    p{
      position: absolute;
      font-family: $header-font-stack;
      color: $light-blue;
      top: 75px;
      right: 0;
    }
    span{
      color: $light-blue;
      font-size: .6em;
    }
  }
}